

  
<div class="body">
    <div class="card ">
        <div class="card-body">
            <h1>Vers Distributeur</h1>
            <div class="">
                <label for="cc-name">Numero du distributeur</label>
                <input type="number" class="form-control"  formControlName="numeroDistributeur"  placeholder="" required>
            </div>
            <div class="">
                <label for="cc-name">Montant</label>
                <input type="number" class="form-control"  formControlName="montant"  placeholder="" required>
            </div>      
            <br>
            <button class="btn btn-info" type="submit">Transferer</button>
        </div>
    </div>
</div>