<div class="body">
  <div class="card col">
      <div class="card-body">
        <h2>Approvisionnement</h2>
        <h4>Remplissez se formulaire pour effectuer une transaction vers un compte Master Distributeur
        </h4>
          <div class="row"></div>
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">Selectionner distributeur</label>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>user 1</option>
                <option>user 2</option>
                <option>user 3</option>
                <option>user 4</option>
                <option>user 5</option>
              </select>
            </div>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control" placeholder="Montant">
              </div>
              
            </div> 
          </form>
          <br>
          <button class="btn btn-info" type="submit">Transferer</button>
      </div>
  </div>
</div>