<div fxLayout="row" fxLayoutGap="0px" class="layout">
  <div fxFlex="25%" class="helppan">
    <div class="help-container">
      <p class="mat-title">{{ titre }}  </p>
      <mat-divider></mat-divider>
      <div class="vspace"></div>
      <p class="mat-subheading-1">
        Ajouter les informations necessaires pour la creation d'un nouveau compte de Master distributeur.
      </p>
      <span class="center-icon">
        <img src="../../../../../assets/media/png/icon-add.png">
      </span>
    </div>
  </div>
  <div fxFlex="75%">
    <div  fxLayout="column">
      <div class="form-header" fxFlex="2">
        <span class="close-button" (click)="close()">
          <mat-icon aria-label="icon">clear</mat-icon>
        </span>
      </div>
      <span class="titre">
        <h2>Informations du Master distributeur</h2>
      </span>
      <div class="form-container" fxFlex="98">

        <form>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Prenoms">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom de famille">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control">
          </div>
          <div class="form-row">
            <div class="col">
              <input type="text" class="form-control" placeholder="Nom d'utilisateur">
            </div>
            <div class="col">
              <input type="password" class="form-control" placeholder="Mot de passe">
            </div>
          </div>
          <div class="form-row">
            <div class="col">
              <input type="number" class="form-control" placeholder="Numero du modem">
            </div>
            <div class="col">
              <input type="number" class="form-control" placeholder="Contact">
            </div>
          </div>
          
        </form>
       
      </div>

      <mat-divider></mat-divider>
     <!--  {{clientPersonaLInfosFrm.value|json}}
      {{clientAdresseInfoFrm.value|json}}
      {{clientPictureFrm.value|json}}  -->
      <footer class="action">
        <button
          class="action-button"
         
          color="primary"
          mat-raised-button
         
        >
          {{ butValue }}
        </button>
        <button class="action-button" mat-raised-button (click)="close()">
          Annuler
        </button>
      </footer>
    </div>
  </div>
</div>
