<div class="list-group">
    <button type="button" class="list-group-item list-group-item-action"  (click)="onAjouter()"><h4>Ajouter</h4></button>
    <button type="button" class="list-group-item list-group-item-action"  (click)="onModifier()"><h4>Modifier</h4></button>
    <button type="button" class="list-group-item list-group-item-action"  (click)="onConfig()"><h4>Configurer la SIM</h4></button>
    <button type="button" class="list-group-item list-group-item-action"  (click)="onReset()"><h4>Restaurer Modem</h4></button>
    <button type="button" class="list-group-item list-group-item-action"  (click)="onConfig2()"><h4>Configurer Les informations du Modem</h4></button>  
    <button type="button" class="list-group-item list-group-item-action"  (click)="onState()"><h4>Etat des Modems</h4></button>
  </div>
