

  <div class="reglage">
    <div class="carte">
      <mat-card class="example-card" (click)="onAjouter()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/plus.png">
        </span>
        <h4>Ajouter</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card" (click)="onModifier()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/pencil.png">
        </span>
        <h4>Modifier</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card" (click)="onConfig()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/sim.png">
        </span>
        <h4>Configurer la SIM</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card" (click)="onReset()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/wifi-router.png">
        </span>
        <h4 >Restaurer modem</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card" (click)="onConfig2()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/edit.png">
        </span>
        <h4 >Configurer les informations du modem</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card" (click)="onState()">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/correct.png">
        </span>
        <h4 >Etat des modems</h4>
      </mat-card>
    </div>
  </div>
