

  <div class="reglage">
    <div class="carte">
      <mat-card class="example-card" >
        <span class="center-icon">
          <img src="../../../../../assets/media/png/plus.png">
        </span>
        <h4>Ajouter</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/pencil.png">
        </span>
        <h4>Modifier</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/password.png">
        </span>
        <h4>Changer mot de passe</h4>
      </mat-card>
    </div>

    <div class="carte">
      <mat-card class="example-card">
        <span class="center-icon">
          <img src="../../../../../assets/media/png/role.png">
        </span>
        <h4 >Assigne role</h4>
      </mat-card>
    </div>
  </div>

