section {
    display: flex;
    justify-content: flex-end;
  }
  
  
  .example-button-row {
    display: table-cell;
    width: 490px;
    justify-content: flex-end;
    
  }
  
  
  
  .example-flex-container {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: left;
    width: 100px;
  }
  

  table {
  width: 95%;
}

.list {
  text-align: center;
  justify-content: center;
}

.label {
  display: flex;
  justify-content: flex-start;
  padding-top: 70px;
}